<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" >Mobistreak</a>
  <div class="" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item li" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="">
        <a class="nav-link" >Assignment One</a>
      </li>
      <li class="nav-item li" routerLinkActive="active" routerLink="/assignment-two">
        <a class="nav-link" >Assignment Two</a>
      </li>
    </ul>
  </div>
</nav>