.img-div img{
    width: 100%;
    // max-height: 200p;
    height: 250px;
}
.header{
    padding-bottom: 10px;
}

.my-card{
    margin-bottom: 25px;
}
.big{
    font-size: 1.4rem;
}

.user-name{
    span{
        margin-left: 30px;
    }
}

.user-data{
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-between
}